#footer {
    padding: 15px;
    color: black;
    font-size: 14px;
    position: fixed;

    left: auto;
    bottom: 0px;

    width: 200px;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: black;
  }